<h2>Conceptos básicos: bootstrap, componentes padre-hijo, interfaces, mock</h2>
<h2>Interpolación (elemento del mock) y Property Binding (boton propiedad disabled)</h2>

<div class="card" style="width: 18rem;">
    <img src="assets/{{articulo.id}}.jpg" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">{{articulo.nombre}}</h5>
      <p class="card-text">{{articulo.descripcion}}</p>
      <b><p class="card-text text-center">{{articulo.precio}}</p></b>
    </div>
    <button id="m1" class="btn btn-primary" [disabled]="botonActivo">comprar</button>
  </div>
