<div class="alert alert-primary" role="alert">
  <a routerLink="/ejemplo1"><span><b>Ejemplo 1: </b></span> Conceptos básicos (ejemplo1.component)</a>
  <ul>
    <li>Uso de Bootstrap Creación de una interface en carpeta Modelos</li>
    <li>Creación de un mock de articulos en carpeta modelos</li>
    <li>Data Binding: Interpolación y Property Binding</li>
    <li>Componente ejemplo1 para mostrar un articulo en card de bootstrap</li>
    <li>Constructor y ngOnInit</li>
  </ul>
</div>

<div class="alert alert-primary" role="alert">
  <a routerLink="/ejemplo2"><span><b>Ejemplo 2: </b></span> Conceptos básicos (ejemplo2.component)</a>
  <ul>
    <li>Tipado con varios tipos de datos</li>
    <li>Data Binding: Event binding y Two Way Data Binding</li>
  </ul>
</div>

<div class="alert alert-primary" role="alert">
  <span><b>Ejemplo 3: </b></span> Directivas estructurales *ngFor y *ngIf
  <ul>
    <li><a routerLink="/ejemplo3">*ngFor con table, con ul y con cards (ejemplo3.component)</a></li>
    <li><a routerLink="/ejemplo3v1">*ngIf en div, en ng-container, *ngIf else, *ngSwitch y *ngFor con *ngIf (ejemplo3v1.component)</a></li>
  </ul>
</div>

<div class="alert alert-primary" role="alert">
  <span><b>Ejemplo 4: </b></span> Comunicacion componentes Padre-Hijo
  <ul>
    <li><a routerLink="/ejemplo4">Padre-Hijo individual (ejemplo4.component y ejemplo4v1.component)</a></li>
    <li><a routerLink="/ejemplo4v2">Padre-Hijo con *ngFor (ejemplo4v2.component y ejemplo4v3.component)</a></li>
    <li><a routerLink="/ejemplo4v4">Padre-Hijo con *ngFor bidireccional (ejemplo4v4.component y ejemplo4v5.component)</a></li>
  </ul>
</div>

<div class="alert alert-primary" role="alert">
  <span><b>Ejemplo 5: </b></span> Servicios e inyección de dependencias
  <ul>
    <li><a routerLink="/ejemplo5">Servicios e inyección de dependencias</a></li>
  </ul>
</div>
